<div class="heading-row" nz-row nzJustify="space-between" nzAlign="middle">
  <div nz-col><h1 class="heading">CRUD Application</h1></div>
  <div nz-col>
    <button nz-button nzType="primary" (click)="addNewEmployee()">
      Add New Employee
    </button>
  </div>
</div>

<div class="table-container">
  <nz-table
    #basicTable
    [nzData]="listOfData"
    nzSize="middle"
    [nzBordered]="true"
  >
    <thead>
      <tr>
        <th nzAlign="center">ID</th>
        <th nzAlign="center">First name</th>
        <th nzAlign="center">Last name</th>
        <th nzAlign="center">Email</th>
        <th nzAlign="center">Date of Birth</th>
        <th nzAlign="center">Gender</th>
        <th nzAlign="center">Education</th>
        <th nzAlign="center">Company</th>
        <th nzAlign="center">Experience</th>
        <th nzAlign="center">Package</th>
        <th nzAlign="center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td nzAlign="center">{{ data.id }}</td>
        <td nzAlign="center">{{ data.firstName }}</td>
        <td nzAlign="center">{{ data.lastName }}</td>
        <td nzAlign="center">{{ data.email }}</td>
        <td nzAlign="center">{{ data.dob }}</td>
        <td nzAlign="center">{{ data.gender }}</td>
        <td nzAlign="center">{{ data.education }}</td>
        <td nzAlign="center">{{ data.company }}</td>
        <td nzAlign="center">{{ data.experiance }}</td>
        <td nzAlign="center">{{ data.package }}</td>
        <td nzAlign="center">
          <a><span nz-icon nzType="edit" nzTheme="outline"></span></a>
          <nz-divider nzType="vertical"></nz-divider>
          <a
            ><span
              nz-icon
              nzType="delete"
              nzTheme="outline"
              class="danger"
            ></span
          ></a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
